*{
    padding:0;
    margin:0;
}
body{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: purple;
}
.container{
    margin-top: 100px;
    height:100%;
    width:400px;
    border:4px solid black;
    background-color: teal;
    border-radius: 10px;
}
.box{
    height:100%;
    width:100%;
}
input{
    font-size: 25px;
    margin:10px;
    padding:5px;
    font-weight: bold;
    border-radius: 5px;

}
button{
    font-size:25px;
    margin:5px;
    padding:5px;
    border-radius:5px;
    background-color: greenyellow;
    font-weight: bolder;
    border:4px solid white;
}
h2{
    font-size:30px;
    margin:6px;
    color:white;
    text-shadow: 5px 5px 7px black;
}
p{
    font-size:20px;
    margin:6px;
    color:white;
    text-shadow: 5px 5px 7px black;
}
img{
    margin: 10px;
    animation :anime 5s ease-in  normal;
}
@keyframes anime{
        0%{height:0;width:0}
        50%{height:100px;width:100px;}
        100%{height:180px;width:180px;}
}
@media (max-width:423px){
    .container{
        width:200px;
    }
    input{
        font-size: 20px;
        margin:3px;
        padding:3px;
        width:180px;
    }
}